@{
    ViewBag.Title = "About";
}
@model System.Security.Claims.ClaimsPrincipal
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div>

            @foreach (var claim in Model.Claims)
            {
                <p> <b>@claim.Type </b>  :  @claim.Value</p>
            }

    </div>

</main>